<html>
			<head></head>
			<body><p>Hello World! <tr><th><label for="id_inupt_dict">Your name:</label></th><td><input id="id_inupt_dict" maxlength="100" name="inupt_dict" type="text" required /></td></tr>
<tr><th><label for="id_inupt_dict1">You:</label></th><td><input id="id_inupt_dict1" maxlength="100" name="inupt_dict1" type="text" required /></td></tr>
<tr><th><label for="id_message">Message:</label></th><td><input id="id_message" name="message" type="text" required /></td></tr> </p></body>
			</html>