<!DOCTYPE html>
<html>
<head>
  <title>Form Builder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="templates/polls/bootstrap-dialog.js"></script>
<script src="templates/polls/bootstrap-dialog.min.js"></script>
</head>
<body>
<div class="container">
  <div class="col-md-6">
  <form>
  <div class="form-group">
   <div id="input-id">
   <div class="col-md-6 input-group input-group-sm">
    <!-- <span class="input-group-addon">Input</span> -->
    <div class="">
    <span><input placeholder="Click To Add" class="form-control form-control"></input></span>
    <span><button id="btn-add-input" type="button" onclick="add_input_box();" class="btn btn-primary">Add Input Box</button></span>
    
    </div>
    <span><button id="btn-create" type="button" class="btn btn-primary">Create</button></span>   
  </div>
  
  </div> 
  </div>
<div class="form-group">
    
</div>  
  </form>
</div>
  
  <div id="form" class="col-md-6">
    <form>
        <div class="form-group">
          <div id="input-field">
            
          </div>
          <div id="">
            
          </div>
        </div>
    </form>
  </div>
</div>

<script type="text/javascript">
var count_id_input=0

function input_box_values(){

}

function add_input_box(){
      count_id_input+=1;
      id_input_container=count_id_input.toString();
  
      var div = document.createElement("DIV");
        div.setAttribute("id","form-cell-div");
        div.setAttribute("class", "row");
        div.setAttribute("style","height:60px;");
      
      var div1 = document.createElement("DIV");
          div.setAttribute("class","row");

      var label_div = document.createElement("DIV");
        label_div.setAttribute("contenteditable", "true");
        label_div.setAttribute("id","label-id"+id_input_container);
        label_div.setAttribute("style","width:300px;")
        

        
      var span = document.createElement("SPAN");
        span.setAttribute("class","input-group-addon");
        span.setAttribute("id","span-label");
        span.setAttribute("style","width:60px;");
      
      var div_container_input= document.createElement("DIV");
        div_container_input.setAttribute("id",'id-input-container'+id_input_container);
      
      var input = document.createElement("INPUT");
        input.setAttribute("type", "text");
        input.setAttribute("placeholder","Type..placeholder")
        input.setAttribute("class", "col-md-3 form-control");
        input.setAttribute("style","width:300px;")
        input.setAttribute("id","input-id");



        $('#input-field').append(div_container_input);
        $('#id-input-container'+id_input_container).append(label_div);
        $('#id-input-container'+id_input_container).append(div1);
        $('#id-input-container'+id_input_container).append(input);
        $('#id-input-container'+id_input_container).append(div);
        $('#label-id'+id_input_container).append('<b>Untitled:</b>');
}     
function remove_input_box(){

  }
  $(document).ready(function(){ 
  $('#btn-create').on('click',function(){

    html_form=$('#form').html();
    console.log(html_form);
  })    
        });

  
</script>
</body>
</html>