<!DOCTYPE html>
<html>
<head>
  <title>Form Builder</title>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static "js/bootstrap-dialog.js" %}"></script>
<script src="{% static "js/bootstrap-dialog.min.js" %}"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body background="{% static "img/form_img" %}">
<div class="container">
  <div class="col-md-6">
  <!-- <form>
   -->
   <form class="form-horizontal">
<fieldset>
<legend>Create Form</legend>
  <div class="form-group">
  <label class="col-md-2 control-label" for="textinput">Text Input</label>  
  <div class="col-md-6">
  <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
  <div><button id="btn-add-input" type="button" onclick="input_box_values();" class="btn btn-primary col-md-2">Input</button></div>
</div>
                        
    
<div class="form-group">
  <label class="col-md-2 control-label" for="radios">Multiple Radios</label>
  <div class="col-md-6">
  <div class="radio">
    <label for="radios-0">
      <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
      Option one
    </label>
  </div>
  <div class="radio">
    <label for="radios-1">
      <input type="radio" name="radios" id="radios-1" value="2">
      Option two
    </label>
  </div>
  </div>
  <div><button id="btn-add-input" type="button" onclick="checkbox_radio_val();" class="btn btn-primary col-md-2">Radio</button></div>
</div>

<!-- Multiple Checkboxes -->
<div class="form-group">
  <label class="col-md-2 control-label" for="checkboxes">Multiple Checkboxes</label>
  <div class="col-md-6">
  <div class="checkbox">
    <label for="checkboxes-0">
      <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
      Option one
    </label>
  </div>
  <div class="checkbox">
    <label for="checkboxes-1">
      <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
      Option two
    </label>
  </div>
  </div>
  <div><button id="btn-add-input" type="button" onclick="checkbox_radio_val();" class="btn btn-primary col-md-2">CheckBox</button></div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-2" for="selectbasic">Select Basic</label>
  <div class="col-md-6">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">Option one</option>
      <option value="2">Option two</option>
    </select>
  </div>
  <div><button id="btn-add-input" type="button" onclick="select_box_value();" class="btn btn-primary col-md-2">Select Box</button></div>
</div>


<div class="col-md-6 "><button id="btn-create" type="button" class="center-block btn btn-primary">Create</button></div>
  
<!-- </form> -->
</div>
 
  <div id="form" class="col-md-6">
    <form class="form-horizontol">
    <fieldset>
    <legend>Your Form</legend>
        <div class="form-group">
          <div id="input-field">
            
          </div>
          
        </div>
  </fieldset>
    </form>
  </div>
</div>

</fieldset>
</form>
<script type="text/javascript">
var count_input=0
var JSON_FORM={"form":[]}

function checkbox_radio_val(){
  var sub_type_input=
        '<div><input id="title" name="textinput" type="text" placeholder="Set title"></input></div>'+
        '<div class"row"></div>'+
        '<div><input id="group" name="textinput" type="text" placeholder="Set Group"></input></div>'+
        '<div class"row"></div>'+
        '<div><input id="radios" name="textinput" type="text" placeholder="Set Radios(,seprated)"></input></div>'+
        '<div class"row"></div>'+
        '<div><input id="value" name="textinput" type="text" placeholder="Set values(,seprated)"></input></div>'+
        '<div class"row"></div>'+
        '<div><label style="width=30px;"><input id="is_inline" name="is_inline" type="checkbox" value="">Inline?</label></label><label><input id="is_checkbox" name="is_checkbox" type="checkbox" value="">Create Checkboxe</label></div>'        
        take_input(sub_type_input,2);
}
function input_box_values(){
        var sub_type_input='<div><label><input id="is_password" name="sub_type_input" type="radio" value="">Input Password</label></div>'+
        '<div><label><input id="is_comment" name="sub_type_input" type="radio" value="">Input Comment Box</label></div>'+
        '<div><label><input id="is_text" name="sub_type_input" type="radio" value="">Input Text Box</label></div>'+
        '<div><input id="title" placeholder="set title"></input></div>'+
        '<div><input placeholder="set placeholder" id="plc-holder"></div>'+
        '<div><label><input id="is_required" name="is_required" type="checkbox" value="">IS Required</div>'
        take_input(sub_type_input,1);
}

function take_input(sub_type_input,check_flag){
BootstrapDialog.show({
        title: 'Set Box Properties',
        message: sub_type_input,
        type:BootstrapDialog.TYPE_SUCCESS,
         buttons: [{
            id: 'btn-ok',         
            label: 'OK',
            cssClass: 'btn-primary', 
            action: function(dialogRef){    
                dialogRef.close();
                if(check_flag==1){
                add_and_remove_input_box();  
                }
                else if(check_flag==2){
                add_radio_and_check_box();
                }
            }
        }]
        });
}
function html_form_set(){
      count_input+=1;
      id_input_container=count_input.toString();
        
      var remove_btn=document.createElement("INPUT");
      text_node=document.createTextNode("Remove");
      remove_btn.appendChild(text_node);
      remove_btn.setAttribute("type","BUTTON");
      remove_btn.setAttribute("value","Remove");
      remove_btn.setAttribute("class","btn btn-primary btn-md");
      remove_btn.setAttribute("id",'btn-remove')
      remove_btn.setAttribute("data-btn-number",id_input_container)

      var div = document.createElement("DIV");
        div.setAttribute("id","form-cell-div");
        div.setAttribute("class", "row");
        div.setAttribute("style","height:60px;");
      
      var div1 = document.createElement("DIV");
          div.setAttribute("class","row");

      var label_div = document.createElement("DIV");
        // label_div.setAttribute("contenteditable", "true");
        label_div.setAttribute("id","label-id"+id_input_container);
        label_div.setAttribute("style","width:300px;")
        
      var span = document.createElement("SPAN");
        span.setAttribute("class","input-group-addon");
        span.setAttribute("id","span-label");
        span.setAttribute("style","width:60px;");
      
      var div_container_input= document.createElement("DIV");
        div_container_input.setAttribute("id",'id-input-container'+id_input_container);

      //console.log(typeof(div_container_input));
        
      var obj_htmls={'remove_btn':remove_btn,'div':div,'div1':div1,'label_div':label_div,'span':span,'div_container_input':div_container_input,'id_input_container':id_input_container}
      return obj_htmls;
}
function add_and_remove_input_box(){
      var plc_holder = $("#plc-holder").val();
      var title = $("#title").val();
      var is_password=$('#is_password').is(':checked');
      var is_text=$('#is_text').is(':checked');
      var is_comment=$('#is_comment').is(':checked');
      var is_required=$('#is_required').is(':checked');
      var sub_type='';

      var input = document.createElement("INPUT");
        if(is_text == true){
          sub_type="text";
          input.setAttribute("type", sub_type);
        }
        else if(is_password){
          sub_type="password";
         input.setAttribute("type", sub_type); 
        }
        else{
         sub_type="comment";
         input.setAttribute("type", sub_type);  
        }
        
        input.setAttribute("placeholder",plc_holder);
        input.setAttribute("class", "col-md-3 form-control");
        input.setAttribute("style","width:300px;")
        input.setAttribute("id","input-id");

        var obj_htmls=html_form_set();

        $('#input-field').append(obj_htmls['div_container_input']);
        $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['label_div']);
        $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['div1']);
        $('#id-input-container'+obj_htmls['id_input_container']).append(input);
        //$('#id-input-container'+id_input_container).append(obj_htmls['remove_btn']);
        $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['div']);
        $('#label-id'+obj_htmls['id_input_container']).append('<b>'+title+':');

        //preparing JSON_FORM
        var widget={
                      'type':'input',
                      'sub_type':sub_type,
                      'name':"input-id",
                      'title':title,
                      'placeholder':plc_holder,
                      'is_required':is_required,
                      'check_flag':1
                    }
        JSON_FORM["form"].push(widget)
}     

function add_radio_and_check_box(){
  var title = $("#title").val();
  var group = $("#group").val();
  var radios = $("#radios").val();
  var value= $("#value").val();
  var is_inline = $('#is_inline').is(':checked');
  var is_checkbox = $('#is_checkbox').is(':checked');
  if(is_checkbox==true){
    var sub_type='c';
  }else{
    var sub_type='r';
  
  }

  //count number of radio or checkbox button
  var number_of_radio = (radios.match(/,/g)||[]).length+1;
  var radios_name=[]
  var radios_value=[]

  for(i=0;i<number_of_radio-1;i++){
    var sub_str =  /[^,]*/.exec(radios)[0];
    var radios  = /,(.+)/.exec(radios)[1];
    radios_name.push(sub_str);
    }radios_name.push(radios);
  
  for(i=0;i<number_of_radio-1;i++){
    var sub_str1 =  /[^,]*/.exec(value)[0];
    var value  = /,(.+)/.exec(value)[1];
    radios_value.push(sub_str1);
    }radios_value.push(value);
  
  
  //create radio or checkbox
  var radio_button=[]
  for(i=0;i<number_of_radio;i++){
  var input = document.createElement("INPUT");
  input.setAttribute("name",group);
  input.setAttribute("value",radios_value[i]);
  input.setAttribute("width",'10px');
  if(is_checkbox==true){
    input.setAttribute("type","checkbox")}
  else{
    input.setAttribute("type","radio"); 
    }
  radio_button.push(input);
}
var obj_htmls=html_form_set();

  $('#input-field').append(obj_htmls['div_container_input']);
  $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['label_div']);
  $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['div1']);
  for(i=0;i<number_of_radio;i++){
  $('#id-input-container'+obj_htmls['id_input_container']).append('<div></div>');
  $('#id-input-container'+obj_htmls['id_input_container']).append(radio_button[i])
  $('#id-input-container'+obj_htmls['id_input_container']).append(radios_name[i])}
  $('#id-input-container'+obj_htmls['id_input_container']).append(obj_htmls['div']);
  $('#label-id'+obj_htmls['id_input_container']).append('<b>'+title+':');

  var widget={
                'sub_type':sub_type,
                'name':group,
                'title':title,
                'number_of_radio':number_of_radio,
                'radios_name':radios_name,
                'radios_value':radios_value,
                'check_flag':2
            }
    JSON_FORM["form"].push(widget)
    console.log(radios_value);
    console.log(radios_name);


}
  $(document).ready(function(){
  $('#btn-create').on('click',function(){
    $.post("/form_builder/",JSON_FORM,function(res){
       BootstrapDialog.alert('Hi Your Form Is Ready Please Visit http://127.0.0.1:8000/form_builder/1/');
    });
    console.log(JSON_FORM)
  });    
  });

</script>
</body>
</html>